<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <!-- some cool icons from fontawesome.com -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">

    <title>Edit book sale</title>
    <style>
        .navbar {
            background-color: rgb(111, 182, 65)
        }
        .container {
            margin: auto;
            padding: 20px 0;
            width: 70%;
        }
        .input-group-btn{
            margin-left: 15px;
        }
    </style>
</head>

<body>
    <header class="d-flex navbar navbar-dark sticky-top">
        <span class=" flex-grow-1 p-2 navbar-brand mb-0 h1">Used Textbook Marketplace</span>
        <div class="p-2 nav-item">
            <a href=""><button class=" btn btn-primary" type="button">Button name</button></a>
        </div>
        <div class="p-2 nav-item">
            <a href="/"><button class="btn btn-primary" type="button">Logout</button></a></li>
        </div>
    </header>

    <div class="container">
        <div class="card bg-light">
            <div class="card-body">
                <h1 class="card-title">Edit your textbook information</h1>
                <form action="/books/sell/update" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
<!--*********************** This part will be autofilled by the API, if we get it to work! ***************  -->
                    <div class="form-group row">
                        <label for="title" class="col-sm-3 col-form-label">
                            Title
                        </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="title" value="{{book.book.title}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="author" class="col-sm-3 col-form-label">
                            Author
                        </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="author" value="{{book.book.author}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="publisher" class="col-sm-3 col-form-label">
                            Publisher
                        </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="publisher" value="{{book.book.publisher}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="ISBN" class="col-sm-3 col-form-label">
                            ISBN 
                        </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="ISBN" value="{{book.book.ISBN}}">
                            <small>No dashes or spaces</small>
                        </div>
                    </div>


<!-- ***************** From here on, it's all user specific data that will remain after the API magic **** -->

                    <div class="form-group row">
                        <label for="condition" class="col-sm-3 col-form-label">
                            Condition
                        </label>
                        <div class="col-sm-9">
                            <select class="form-control" name="condition">
                                <option value="5" selected>New</option>
                                <option value="4">Used - Like New</option>
                                <option value="3">Used - Very Good</option>
                                <option value="2">Used - Good</option>
                                <option value="1">Used - Acceptable</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="ISBN" class="col-sm-3 col-form-label">
                            Description (mandatory for books in "Acceptable" condition)
                        </label>
                        <div class="col-sm-9">
                            <textarea class="form-control" name="description">{{book.description}}</textarea>
                        </div>
                    </div>
                    <div class="form-group row d-flex">
                        <div class="col-sm-3">
                            Upload an image of your book
                        </div>
                        <div class="row col-sm-9 input-group">
                            <div class="input-group">
                                <label class="input-group-btn">
                                    <span class="btn btn-primary">
                                        Browse&hellip; <input type="file" style="display: none;" name="picture">
                                    </span>
                                </label>
                                <input type="text" class="form-control" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="price" class="col-sm-3 col-form-label">
                            Price
                        </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="price" value="{{book.display_price}}">
                        </div>
                    </div>
                    <input type='hidden' value={{book.id}} name='book_id'>
                    <input type="submit" class="btn btn-outline-secondary btn-block" value="Update">
                </form>
            </div>
        </div>

    </div>
</body>
</html>