<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>UTM: Edit User Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <style>
        .container{
            width: 70%;
            padding: 20px 0
        }
        .navbar {
            background-color: rgb(122, 24, 24)
        }
        .info{
            width: 90%;
        }
        .messages{
            color: red;
        }
        .form-control{
            display: inline-block;
        }
    </style>
</head>
<body>
    <header class="d-flex navbar navbar-dark sticky-top">
        <span class=" flex-grow-1 p-2 navbar-brand mb-0 h1">Used Textbook Marketplace</span>
        <!-- uncomment any of the buttons below to show links on the right side of the navbar -->
        <div class="p-2 nav-item">
            <a href="/books"><button class=" btn btn-primary" type="button">Go to Dashboard</button></a>
        </div>
        <div class="p-2 nav-item">
            <a href="/reset"><button class="btn btn-primary" type="button">Logout</button></a></li>
        </div>
    </header>

    <div class='container'>
        <h2>Edit your information</h2>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class='info'>
                <form action="{% url 'edit' %}" method='post'>
                    {% csrf_token %}
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Name</label>
                        <input class="form-control" type='text' name='name' value='{{name}}'>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Alias</label>
                        <input class="form-control" type='text' name='alias' value='{{alias}}'>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Email</label>
                        <input class="form-control" type='text' name='email' value='{{email}}'>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">College</label>
                        <input class="form-control" type='text' name='college' value='{{college}}'>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Old Password</label>
                        <input class="form-control" type='password' name='old_password' value=''>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">New Password</label>
                        <input class="form-control" type='password' name='new_password' value=''>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Confirm Password</label>
                        <input class="form-control" type='password' name='confirm_password' value=''>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Update information</button>
                </form>
        </div>
    </div>
    
</body>
</html>